In [1]:
# Import Modules
import pandas as pd
from pathlib import Path
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(Path('../Resources/credit_data.csv'))
df.head()

,id,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,1,no checking account,18,all credits at this bank paid back duly,car (used),1049,unknown/no savings account,< 1 yr,< 20,none,...,car or other,21,none,for free,1,skilled employee/official,0 to 2,no,no,good
1,2,no checking account,9,all credits at this bank paid back duly,others,2799,unknown/no savings account,1 <= ... < 4 yrs,25 <= ... < 35,none,...,unknown / no property,36,none,for free,2-3,skilled employee/official,3 or more,no,no,good
2,3,... < 0 DM,12,no credits taken/all credits paid back duly,retraining,841,... < 100 DM,4 <= ... < 7 yrs,25 <= ... < 35,none,...,unknown / no property,23,none,for free,1,unskilled - resident,0 to 2,no,no,good
3,4,no checking account,12,all credits at this bank paid back duly,others,2122,unknown/no savings account,1 <= ... < 4 yrs,20 <= ... < 25,none,...,unknown / no property,39,none,for free,2-3,unskilled - resident,3 or more,no,yes,good
4,5,no checking account,12,all credits at this bank paid back duly,others,2171,unknown/no savings account,1 <= ... < 4 yrs,< 20,none,...,car or other,38,bank,rent,2-3,unskilled - resident,0 to 2,no,yes,good

In [3]:
# Split target column from dataset
y = df['credit_risk']
X = df.drop(columns = 'credit_risk')

In [16]:
# Preview the data
X[:5]

,id,duration,amount,age,status_... < 0 DM,status_... >= 200 DM / salary for at least 1 year,status_0<= ... < 200 DM,status_no checking account,credit_history_all credits at this bank paid back duly,credit_history_critical account/other credits elsewhere,...,job_manager/self-empl./highly qualif. employee,job_skilled employee/official,job_unemployed/unskilled - non-resident,job_unskilled - resident,people_liable_0 to 2,people_liable_3 or more,telephone_no,telephone_yes (under customer name),foreign_worker_no,foreign_worker_yes
0,1,18,1049,21,0,0,0,1,1,0,...,0,1,0,0,1,0,1,0,1,0
1,2,9,2799,36,0,0,0,1,1,0,...,0,1,0,0,0,1,1,0,1,0
2,3,12,841,23,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,1,0
3,4,12,2122,39,0,0,0,1,1,0,...,0,0,0,1,0,1,1,0,0,1
4,5,12,2171,38,0,0,0,1,1,0,...,0,0,0,1,1,0,1,0,0,1

In [17]:
# Print first five entries for target
y[:5]

0    good
1    good
2    good
3    good
4    good
Name: credit_risk, dtype: object

In [6]:
# Encode the categorical variables using get_dummies
X = pd.get_dummies(X)

In [7]:
# Preview the data
X.head()

,id,duration,amount,age,status_... < 0 DM,status_... >= 200 DM / salary for at least 1 year,status_0<= ... < 200 DM,status_no checking account,credit_history_all credits at this bank paid back duly,credit_history_critical account/other credits elsewhere,...,job_manager/self-empl./highly qualif. employee,job_skilled employee/official,job_unemployed/unskilled - non-resident,job_unskilled - resident,people_liable_0 to 2,people_liable_3 or more,telephone_no,telephone_yes (under customer name),foreign_worker_no,foreign_worker_yes
0,1,18,1049,21,0,0,0,1,1,0,...,0,1,0,0,1,0,1,0,1,0
1,2,9,2799,36,0,0,0,1,1,0,...,0,1,0,0,0,1,1,0,1,0
2,3,12,841,23,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,1,0
3,4,12,2122,39,0,0,0,1,1,0,...,0,0,0,1,0,1,1,0,0,1
4,5,12,2171,38,0,0,0,1,1,0,...,0,0,0,1,1,0,1,0,0,1

In [8]:
# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [9]:
# Display shape of X_train
X_train.shape

(750, 68)

In [10]:
# Display shape of X_test
X_test.shape

(250, 68)

In [11]:
# Scale the data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Instantiate the model with k = 3 neighbors
knn = KNeighborsClassifier(n_neighbors = 3)

In [13]:
# Train the model
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier(n_neighbors=3)

In [18]:
# Create predictions
y_pred = knn.predict(X_test_scaled)

# Review the predictions
y_pred

array(['good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'bad', 'good', 'good', 'bad',
       'good', 'good', 'good', 'bad', 'bad', 'good', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'bad', 'bad', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'bad', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'good',
       'bad', 'good', 'good', 'good', 'bad', 'good', 'bad', 'good',
       'good', 'good', 'good', 'bad', 'good', 'good', 'bad', 'good',
       'good', 'good', 'bad', 'good', 'good', 'good', 'bad', 'good',
       'good', 'good', 'good', 'good', 'bad', 'good', 'good', 'good',
       'good', 'bad', 'good', 'good', 'good', 'good', 'good', 'bad',
       'good', 'good', 'good', 'good', 'good', 'bad', 'good', 'bad',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'bad', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'bad', 'good', 'good', 'good', 'bad',
       'good', 'good', 'bad', 'good', 'good', 'bad', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'bad', 'good', 'good', 'good', 'good', 'good',
       'good', 'bad', 'good', 'good', 'good', 'good', 'good', 'bad',
       'bad', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'bad', 'bad', 'bad', 'bad', 'good', 'good', 'good', 'good',
       'bad', 'good', 'bad', 'good', 'bad', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'bad',
       'good', 'good', 'good', 'bad', 'bad', 'bad', 'good', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'bad', 'good', 'bad',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'bad',
       'good', 'bad', 'good', 'good', 'good', 'good', 'bad', 'bad'],
      dtype=object)

In [19]:
# Print confusion matrix
confusion_matrix(y_test, y_pred)

array([[ 26,  47],
       [ 23, 154]])

In [20]:
# Print classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         bad       0.53      0.36      0.43        73
        good       0.77      0.87      0.81       177

    accuracy                           0.72       250
   macro avg       0.65      0.61      0.62       250
weighted avg       0.70      0.72      0.70       250